/* Color Scheme 
BG Color: background: rgb(26, 0, 73);
*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); /* Fonts */


html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    transition: .5s;
}

header {
    text-align: left;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25%;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_image_container img {
    width: 100%;
    transition: .5s;
}

.header_image_container {
    width: 10%;
    padding: 1%;
}

.header_text_container {
    width: 100%;
}

.header_logo_container {
    display: flex;
    justify-content: right;
    margin-right: 1%;
    width: 20%;
    align-items: center;
}

.site_title {
    margin: 0.5%;
    font-size: 25px;
    width: 100%;
    font-family: 'BeneficeAP';
    transition: .5s;
}

.site_adress {
    margin: 0.5%;
    font-size: 15px;
    font-family: 'BeneficeAP';
    transition: .5s;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    background: rgb(26, 0, 73);
}

.menu {
    width: 100%;
}

.menu_button {
    color: rgb(183, 144, 255);
    text-decoration: none;
    margin: 0.5%;
    transition: .5s;
}

.menu_button:hover {
    color: rgb(240, 240, 240);
}

.page {
    margin: 5px;
    transition: .5s;
    margin-top: 4%;
}

.page_title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    color: #00ff00;
}

.page_content {
    text-align: center;
}

.page_text_block{
    background: rgb(26, 0, 73);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    color: rgb(234, 226, 255);
    margin-top: .5%;
    margin-bottom: .5%;
    text-align: left;
}

.page_text_block_content {
    display: flex;
    justify-content: left;
    align-items: center;
}

.active {
    opacity: 1;
}

.active_display{
    display: block;
}

.hidden {
    opacity: 0;
    margin-top: 10%;
}


.download_button {
    background: rgb(26, 0, 73);
    color: #00ff00;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text_prefix {
    width: 2%;
    margin: 5px;
}

.veterinar_image {
    width: 100%;
}

.text_link {
    color: rgb(183, 144, 255);
    text-decoration: none;
    transition: .5s;
}

.text_link:hover {
    color: rgb(240, 240, 240);
}

.handling_gallery_image {
    width: 30%;
    height: 200px;
    object-fit: cover;
}

.handling_gallery_image_container {
    text-decoration: none;
    margin: 0.5%;
}

.handling_gallery {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.champion_image {
    width: 100%;
}

.social_container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.social_icon {
    width: 100%;
    transition: 1s;
}

.social_button {
display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

.theme_changer_button {
  display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

.theme_changer_button img {
  display: block!important
}

.vision_changer_button {
  display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

.social_button img {
  display: block!important
}

#theme_changer_image {
  display: block!important
}

#theme_changer_image_2 {
  display: block!important
}

#vision_changer_image {
  display: block!important
}


.social_icon:hover {
  filter: brightness(300%);
}

.theme_changer_icon:hover {
  filter: brightness(300%);
}

.visible {
    display: block;
}


.dark {
    background: rgb(7, 7, 7);
}

.dark .page_title {
    color: rgb(234, 226, 255);
}

.dark .site_title {
    color: rgb(234, 226, 255);
}

.dark .site_adress {
    color: rgb(234, 226, 255);
}

.dark .carousel__dots .carousel__dot {
    color: rgb(234, 226, 255);
}

.low_vision img {
  display: none;
}

.low_vision a {
  font-size: 20px!important
}

.low_vision h1 {
  font-size: 40px!important
}

.low_vision h2 {
  font-size: 35px!important
}

.low_vision h3 {
  font-size: 30px!important
}

.low_vision h4 {
  font-size: 25px!important
}

.low_vision p {
    font-size: 20px!important
}

.low_vision .social_container {
  width: 20%;
  display: flex;
  align-items: stretch;
  /* margin-right: 1%; */
  justify-content: flex-end;
  align-content: space-around;
}

.low_vision .carousel {
  display: none;
}

.low_vision .site_title {
  text-align: center;
}

.low_vision .site_adress {
  text-align: center;
}

.dropdown-content a {
  font-size: 15px;
}

.carousel__button {
  color: white!important;
}

.page_text_block_content p{
  font-weight: lighter;
}

/* Dropdown Button */
.dropbtn {
  background: none;
  color: rgb(183, 144, 255);
  text-decoration: none;
  transition: .5s;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0.5%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: rgb(26, 0, 73);
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(183, 144, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(36, 0, 102);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
  /* Menu Styles */
  
  .primary-nav {
      position: fixed;
      z-index: 999;
  }
  
  .phone_menu {
      position: relative;
  }
  
  .phone_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
      
  }
  
  .open-panel {
    border: none;
    background-color:#fff;
    padding: 0;
  }
  
  .hamburger {
    background: rgb(26, 0, 73);
      position: fixed;
      display: none;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      left: 2%;
      top: 1%;
      padding: 1px;
      z-index: 1000;
    cursor: pointer;
    transition: .5s;
    border-radius: 5px;
    
  }

  .menu_opener {
    width: 50px;
    height: 50px;
    content:"\2630";
    display: block;
    position: fixed;
    color: rgb(0, 0, 0);
  }
  
  .hamburger:before {
      content:"\2630"; /* hamburger icon */
      display: block;
      color: rgb(183, 144, 255);
    line-height: 32px;
    font-size: 16px;
  }

  .dark .hamburger:before {
    content:"\2630"; /* hamburger icon */
    display: block;
  color: rgb(255, 255, 255);
  line-height: 32px;
  font-size: 16px;
}
  
  .openNav .hamburger:before {
      content:"\2715"; /* close icon */
      display: block;
    color: rgb(255, 255, 255);
    line-height: 32px;
    font-size: 16px;
  }
  
  .hamburger:hover:before {
    color: rgb(183, 144, 255);
  }

  .dark .hamburger:hover:before {
    color: rgb(183, 144, 255);
  }
  
  .primary-nav .phone_menu li {
      position: relative;
  }
  
  .phone_menu .icon {
      position: absolute;
      top: 12px;
      right: 10px;
      pointer-events: none;
    width: 24px;
    height: 24px;
    color: #fff;
  }
  
  .phone_menu,
  .phone_menu a,
  .phone_menu a:visited {
    text-decoration: none!important;
      position: relative;
  }
  
  .phone_menu a {
    display: block;
    white-space: nowrap;
    padding: 1em;
    font-size: 14px;
  }
  
  .phone_menu a:hover {
      color: #fff;
  }
  
  .phone_menu {
      margin-bottom: 3em;
  }
  
  .menu-dropdown li .icon {
      color: #777;
  }
  
  .menu-dropdown li:hover .icon {
      color: #fff;
  }
  
  
  
  .phone_menu label {
    margin-bottom: 0;
    display: block;
  }
  
  .phone_menu label:hover {
    cursor: pointer;
  }
  
  .phone_menu input[type="checkbox"] {
    display: none;
  }
  
  input#menu[type="checkbox"] {
    display: none;
  }
  
  
  
  
  
  
  .sub-menu-dropdown {
      display: none;
  }
  
  .new-wrapper {
      position: absolute;
      left: 50px;
    width: calc(100% - 50px);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  #menu:checked + ul.menu-dropdown {
      
          left: 0;
      -webkit-animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
              animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .sub-menu-checkbox:checked + ul.sub-menu-dropdown {
      display: block!important;
      -webkit-animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
              animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  
  .openNav .new-wrapper {
    position: absolute;
    transform: translate3d(200px, 0, 0);
    width: calc(100% - 250px);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  
  .downarrow {
    background: transparent;
      position: absolute;
      right: 50px;
      top: 12px;
    color: #777;
    width: 24px;
    height: 24px;
    text-align: center;
    display: block;
  }
  
  .downarrow:hover {
    color: #fff;
  }
  
  .phone_menu {
      position: absolute;
      display: block;
      left: -200px;
    top: 0;
      width: 250px;
    transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
    background-color: #000;
      z-index: 999;
  }
  
  .menu-dropdown {
    top: 0;
    overflow-y: auto;
  }
  
  .overflow-container {
    position: relative;
    background: rgb(26, 0, 73);
    height: calc(100vh - 73px)!important;
    overflow-y: auto;
    border-top: 73px solid rgb(26, 0, 73);;
    z-index: -1;
    display:block;
  }
  
  .phone_menu a.logotype {
    position: absolute!important;
    top: 11px;
    left: 55px;
    display: block;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: #000;
    font-size: 21px;
    padding: 10px;
  }
  
  .phone_menu a.logotype span {
    font-weight: 400;
  }
  
  .phone_menu a.logotype:hover {
    color: #777;
  }
  
  .sub-menu-dropdown {
      background-color: #333;
  }
  
  .phone_menu:hover {
      position: absolute;
      left: 0;
      top: 0;
  }
  
  .openNav .phone_menu:hover {
      position: absolute;
      left: -200px;
  }
  
  .openNav .phone_menu {
          transform: translate3d(200px, 0, 0);
      transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
  }
      
      /* label.hamburger {
          display: none;
      } */
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* look and feel only, not needed for core menu*/
  
  @-webkit-keyframes grow {
      
    0% {
      display: none;
      opacity: 0;
    }
    50% {
      display: block;
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
      
  }
  
  @keyframes grow {
      
    0% {
      display: none;
      opacity: 0;
    }
    50% {
      display: block;
      opacity: 0.5;
    }
    100% {
      opacity: 1
    }
      
  }
  
  
  
  
  
  
  
  
  
  
  /* Text meant only for screen readers. */
  
  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
  }


    
  .sidenav {
    display: none;
  }
  /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: rgb(26, 0, 73);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  margin: 0;
  padding: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  
#secondary_image {
  width: 70%;
}

#theme_changer, #theme_changer_2, #vision_changer {
  margin-right: 20%;
}

#page_button {
  width: 15%; 
  text-align: center;
}

.hidden_display{
  display: none!important
}

.page_text_block div iframe {
width: 100%;
height: 750px!important
}

#news_block {
height: 750px!important
}

.phone_header_menu {
  display: none;
}

@media (max-width: 500px) {
  .header_menu {
    display: none;
  }

  .page {
    margin-top: 15%;
  }
  
  .phone_header_menu {
    display: block;
  }

    
.sidenav {
  display: block;
}

  .site_title{
    font-size: 15px;
  }

  .site_adress {
    font-size: 8px;
  }

  header {
    text-align: left;
    font-size: 10px;
    display: flex;
    align-items: center;
    height: 25%;
    align-content: flex-end;
    justify-content: center;
    flex-direction: column;
  }

  .header_image_container {
    width: 20%;
    margin: 5%;
  }

  .header_logo_container {
    width: 50%;
  }

  .header_text_container {
    text-align: center;
  }
  #secondary_image {
    width: 100%;
  }

  #theme_changer, #theme_changer_2 {
    margin-right: 0;
  }

  .social_container {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .page_text_block {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
  }

  .text_prefix {
    width: 4%;
  }

  #page_button {
    width: 50%; 
  }

  .hamburger {
    display: flex;
    align-items: center;
  }

  .low_vision .social_container {
    width: 50%;
  }
  .page_text_block_content {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

}