/* Color Scheme 
BG Color: background: rgb(26, 0, 73);
*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); /* Fonts */


html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: left;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_image_container img {
    width: 100%;
}

.header_image_container {
    width: 10%;
    padding: 1%;
}

.header_text_container {
    width: 100%;
}

.header_logo_container {
    display: flex;
    justify-content: right;
    margin-right: 1%;
    width: 20%;
    align-items: center;
}

.site_title {
    margin: 0.5%;
    font-size: 25px;
    width: 100%;
    font-family: 'BeneficeAP';
}

.site_adress {
    margin: 0.5%;
    font-size: 15px;
    font-family: 'BeneficeAP';
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75%;
    background: rgb(26, 0, 73);
}

.menu {
    width: 100%;
}

.menu_button {
    color: rgb(183, 144, 255);
    text-decoration: none;
    margin: 0.5%;
    transition: .5s;
}

.menu_button:hover {
    color: rgb(240, 240, 240);
}

.page {
    margin: 5px;
    transition: .5s;
}

.page_title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_content {
    text-align: center;
}

.page_text_block{
    background: rgb(26, 0, 73);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    color: rgb(234, 226, 255);
    margin-top: .5%;
    margin-bottom: .5%;
    text-align: left;
}

.page_text_block_content {
    display: flex;
    justify-content: left;
    align-items: center;
}

.active {
    opacity: 1;
}

.active_display{
    display: block;
}

.hidden {
    opacity: 0;
    margin-top: 10%;
}

.hidden_display{
    display: none;
}

.download_button {
    background: rgb(26, 0, 73);
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text_prefix {
    width: 2%;
    margin: 5px;
}

.veterinar_image {
    width: 100%;
}

.text_link {
    color: rgb(183, 144, 255);
    text-decoration: none;
    transition: .5s;
}

.text_link:hover {
    color: rgb(240, 240, 240);
}